{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80
}